.categories {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .item{
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        align-items: center;
    }
    
    .item--img {
        width: 85%;
    }

    .item--name {
        font-size: 30px;
        font-weight: 700;
        margin: 20px 0 30px 0px;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .id{
        font-size: 35px;
        color: white;
        font-weight: 700;
    }

   
}