.nav {
    position: fixed;
    bottom: 0px;
    padding: 20px;
    // transform: translateY(-152%);
    display: flex; 
    justify-content: space-around;
    width: 100%;
    background-color: #24293e;
    z-index: 2;
    max-width: 410px;
    min-width: 340px;
}