
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.audio {
  position: fixed;
  width: 100%;
  bottom: 67px;
  z-index: 2;
}


.App{
  background-color:#24293e;
  min-height: 100vh;
  max-width: 450px;
  margin: 0 auto;
}